/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Nov, 2016, 1:47:34 AM
    Author     : ayojava
*/

.sidebar{
    min-width: 220px;
    max-width: 220px;
    background-color:#f5f5f5;
    float: left;
    height:100%;
    margin-top:  3px;
    position:relative;
}

.page-background{
    background-image: linear-gradient(#ffffff, #eeeeee 50%, #e4e4e4);
}

.content{
    height:100%;
    overflow:auto;
    margin-top:  3px;
    border: 1px solid #d5d5d5;
}

.profile-icon{
    background: url("#{resource['images/profile.png']}") no-repeat !important;
}

#menubID.ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left{
    
}

#edit.row{
    margin-left: -30px;
    margin-right: -24px;
}

.img-button{
    border-width:0px !important;
    background:none !important;
    height: 23px !important;
    margin: 0px !important;; 
    width: 17px !important;;
}

.separator{
    border:none;
    border-top:1px dotted #999;
    margin:5px 0px 2px 0px;
}


.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default {
    background-image: linear-gradient(to bottom, #fff 0px, #e0e0e0 100%);
    background-repeat: repeat-x;
    border-color: #ccc;
    border-radius: 12px;
    text-shadow: 0 1px 0 #fff;
    padding: 2px;
    color :#000000;
}

.ui-datatable th {
    font-weight: normal !important;
    color:#bc7a00;
}

.ui-datatable .ui-datatable-header{
    text-align: right !important;
}

.ui-dialog.ui-widget-content{
    padding: 2px;
    margin: 3px;
    border-radius : 8px;
    border: 7px solid rgba(0,0,0,0.5);
}

.ui-dialog.ui-widget-content .ui-dialog-titlebar{
    border-radius : 8px;
    display: block;
    border: 1px solid #AFBEBE;
    background-image: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%);
    padding-left: 3px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.ui-dialog.ui-widget-content .ui-dialog-title{
    font-family: monospace ;
    font-size: 13px;  
    padding-left: 8px;
}

.ui-dialog.ui-widget-content .ui-dialog-content{
    padding: 2px;
}

.ui-dialog.ui-widget-content .ui-dialog-titlebar-close {
    margin-top: 3px;
}
